
  <div *ngIf="!noCommunity" class="card shadow-sm p-3">
    <div class="client-card shadow-sm" *ngFor="let community of communities">
      <div class="client-header">
        <div>
          <a routerLink="['/community]"  routerLinkActive="active"><h6 class="main-color mb-0">{{community.name}}</h6></a>
          <small class="text-muted">{{community.by.firstName + ' ' + community.by.lastName  }} </small>
        </div>
        <div *ngIf="isJoin">
          <div *ngIf="!community.isJoined">
            <button class="btn btn-join" [disabled]="joinSlug === community.slug" (click)="onJoinClick(community.slug)">
              <i class="fa fa-link icons-color" aria-hidden="true" ></i><span class="main-color"> Join</span>
            </button>
          </div>
          <div *ngIf="community.isJoined">
            <button class="btn btn-join" [disabled]="joinSlug === community.slug" (click)="onUnJoinClick(community.slug)">
              <i class="fa fa-link icons-color" aria-hidden="true" ></i><span class="main-color"> Un Join</span>
            </button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block">
          <button
            class="btn"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="report.open(2, community.slug)">Report Community</button>
          </div>
        </div>
      </div>
      <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Tenetur, veritatis.
      </p>
      <span class="main-color"
        ><i
          class="fa icons-color fa-users"
          aria-hidden="true"
        ></i>
        {{community.membersCount}}
        </span
      >
    </div>
    <a href="javascript:void(0)" *ngIf="!isLoader && hasNextPage" (click)="onLoadMoreClick()"> Load More <i class="fas fa-ellipsis-h"></i> </a>
    <loader *ngIf="isLoader"></loader>
  </div>
  <div *ngIf="noCommunity" class="community">
    <h5 class="text-purple">No communities created yet</h5>
  </div>
<app-create-report #report></app-create-report>
