<section>
  <div class="container">
    <div class="row py-3">
      <div class="col-md-12">
          <div class="row py-3">
            <div class="col-md-3">
              <div class="community">
                <h5 class="text-purple">Create community</h5>
                <a href="javascript:void(0)" (click)="communityCreate.open()"
                  ><i
                    class="fa main-color fa-plus-circle"
                    aria-hidden="true"
                  ></i
                ></a>
              </div>
              <div class="row py-3">
                <div class="campus">
                  <h5 class="text-purple">Category</h5>
                  <div class="campus-list" >
                  <div *ngFor="let category of categories">
                    <a class="mt-2" href="javascript:void(0)" [routerLink]="['/category',category.slug]" >{{category.name}}</a>
                  </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="community">
                <h5 class="text-purple">{{title?.name}}</h5>
              </div>
              <div class="col-md-12">
                <div class="search-field" >
                  <input type="text" [(ngModel)]="searchQuery"  class="form-control shadow-sm" placeholder="Search by name . . ."/>
                  <img src="../../../assets/images/search-solid.svg" width="30px" alt=""  />
                </div>
              </div>
              <app-community-list [slug]="slug" [url]="academicesPath"></app-community-list>
            </div>

          </div>

      </div>
    </div>
  </div>
</section>
<app-community-create #communityCreate></app-community-create>
