<section>
  <div class="container">
    <div class="row py-3">

      <div class="col-md-12">


      <div class="col-md-3">
        <div class="community">
          <h5 class="text-purple">Create community</h5>
          <a href="javascript:void(0)" (click)="communityCreate.open()"
            ><i class="fa main-color fa-plus-circle" aria-hidden="true"></i
          ></a>
        </div>
        <div class="campus">
          <h5 class="text-purple">Categories</h5>
          <div class="campus-list">
            <ul>
              <li>
                <a class="mt-2" href="javascript:void(0)">{{
                  user.campus.name
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 mt-4">
        <app-community-list [url]="academicesPath"></app-community-list>

        <div class="search-field mb-4">
          <input
            type="text"
            class="form-control mt-4 shadow-sm"
            placeholder="Search by Tag"

            [(ngModel)]="searchQuery" 
          />
          <img
            src="../../../assets/images/search-solid.svg"
            width="30px"
            alt=""
          />
        </div>
        <div class="row">
          <div class="col-md-12 my-3">
            <app-community-list [slug]="slug" [searchQuery]="searchQuery" [url]="academicesPath"></app-community-list>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<app-community-create #communityCreate></app-community-create>
