.search-field {
  position: relative;
}
.search-field input {
  border: none;
  border-radius: 30px;
  padding-left: 50px;
}
.search-field img {
  position: absolute;
  top: 9px;
  left: 13px;
  width: 22px;
}
.card-table {
  border-radius: 20px;
  border: none;
}
.custom-width {
  width: 96%;
  top: 49px;
  border-radius: 0px 0px 20px 20px;
}
.card-accordian {
  border-radius: 30px;
  border: none;
  padding: 10px 19px;
  margin: 20px 0px;
}
.custom-border {
  border-left: 1px solid #1105c0 !important;
  border-bottom: 1px solid #1105c0 !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-radius: 0px !important;
  color: #000e91;
  margin-bottom: 30px;
}
.btn-plus {
  position: absolute;
  top: 0;
  right: 0;
  color: #000e91;
}
.card-campus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
}
