<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card py-4 shadow my-5">
          <div class="card-body text-center">
            <div class="logo mb-4">
              <h5 class="text-purple">Welcome to</h5>
              <img
                src="../../assets/images/logo-01.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <form [formGroup]="authForm" (ngSubmit)="submitForm()">
              <div class="input-field">
                <input formControlName="firstName" type="text" class="form-control custom-border" placeholder="First Name"  *ngIf="!isLogin"/>
              </div>
              <div class="input-field">
                <input formControlName="lastName" type="text" class="form-control custom-border" placeholder="Last Name" *ngIf="!isLogin"/>
              </div>
              <div class="input-field">
                <input formControlName="email" type="email" class="form-control custom-border" placeholder="Email" />
              </div>
              <div class="input-field"  *ngIf="!isLogin">
                <select formControlName="degree" class="selectpicker form-control custom-border">
                  <option selected hidden>Degree</option>
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>
                <img src="../../assets/images/caret-down-solid.png" class="select-arrow" alt="" />
              </div>
              <div class="input-field"  *ngIf="!isLogin">
                <select formControlName="campus" class="selectpicker form-control custom-border">
                  <option selected hidden>Campus</option>
                  <option>Mustard</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                </select>
                <img src="../../assets/images/caret-down-solid.png" class="select-arrow" alt="" />
              </div>
              <div class="input-field">
                <input formControlName="password" type="password" class="form-control custom-border" placeholder="Password" />
              </div>
              <div class="input-field"  *ngIf="!isLogin">
                <input formControlName="password" type="password" class="form-control custom-border" placeholder="Confirm Password" />
              </div>
              <button class="btn mb-2 btn-main"  [disabled]="!authForm.valid" type="submit">{{isLogin ? 'Log In':'Sign Up'}}</button>
              <span>Or </span> <a class="main-color" (click)="addFormControl()">{{isLogin ? 'Sign Up':'Log In'}}</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
