<header>
  <nav [ngClass]="isAdmin ? 'bg-dark': 'bg-white'">
    <a class="nav-main" href=""><img src="../../assets/images/logo-01.png" alt=""/></a>
    <ul  class="ml-auto nav-list">
      <li *ngIf="!isAdmin" class="nav-link">
        <a href=""><i class="fas fa-bell"></i></a>
      </li>
      <li *ngIf="!isAdmin" class="nav-link">
        <a href=""><i class="fas fa-home"></i></a>
      </li>
      <li class="nav-link" *ngIf="user" ngbDropdown>
        <a href="javascript:void(0)" ngbDropdownToggle routerLinkActive="active"><i class="fas fa-user-circle"></i></a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/profile">
            <div class="d-flex align-items-center" >
              <div class="user-img">
                <img [src]="user.image | image" alt="">
              </div>
              <h6 class="mb-0 ml-2">{{user.firstName + '' + user.lastName }}</h6>

            </div>  
          </button>
          <button ngbDropdownItem (click)="onLogoutClick()"><i class="fas fa-sign-out mr-2"></i>
            Logout</button>


        </div>
      </li>
      <li *ngIf="!isAdmin" >
        <a
          class="accordion-toggle collapsed"
          data-toggle="collapse"
          href="#anyId"
        >
        </a>

        <div
          style="position: absolute"
          id="anyId"
          class="collapse accordian-main"
        >
          <div class="accordian-menu">
            <div class="accordian-list">
              <span class="main-color">Sports</span>
            </div>
            <div class="accordian-list">
              <span class="main-color">Events</span>
            </div>
            <div class="accordian-list">
              <span class="main-color">Education</span>
            </div>
            <div class="accordian-list">
              <span class="main-color">Nightlife</span>
            </div>
            <div class="accordian-list">
              <span class="main-color">Handy tips</span>
            </div>
            <div class="accordian-list">
              <span class="main-color">Culture</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>
