<header>
  <nav [ngClass]="isAdmin ? 'bg-dark' : 'bg-white'">
    <a class="nav-main" href=""
      ><img src="../../assets/images/logo-01.png" alt=""
    /></a>
    <ul *ngIf="!isAdmin" class="ml-auto nav-list">
      <li class="nav-link">
        <a href=""><i class="fas fa-bell"></i></a>
      </li>
      <li class="nav-link">
        <a href=""><i class="fas fa-home"></i></a>
      </li>
      <li class="nav-link">
        <a href=""><i class="fas fa-user-circle"></i></a>
      </li>
      <li>
        <a
          class="accordion-toggle collapsed"
          data-toggle="collapse"
          href="#anyId"
        >
        </a>

        <div
          style="position: absolute"
          id="anyId"
          class="collapse custom-align accordian-main"
        >
          <div class="accordian-menu">
            <div class="accordian-list">
              <span class="main-color"
                ><i class="fas icons-color d-block fa-running"></i> Sports</span
              >
            </div>
            <div class="accordian-list">
              <span class="main-color">
                <i class="fas icons-color d-block fa-calendar-day"></i>
                Events</span
              >
            </div>
            <div class="accordian-list">
              <span class="main-color"
                ><i class="fas icons-color d-block fa-file-invoice"></i>
                Education</span
              >
            </div>
            <div class="accordian-list">
              <span class="main-color"
                ><i class="fas icons-color d-block fa-cocktail"></i>
                Nightlife</span
              >
            </div>
            <div class="accordian-list">
              <span class="main-color"
                ><i class="fas icons-color d-block fa-info"></i> Handy
                tips</span
              >
            </div>
            <div class="accordian-list">
              <span class="main-color"
                ><i class="fas icons-color d-block fa-university"></i>
                Culture</span
              >
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>
