<div class="sidebar">
  <ul class="sidebar-content">
    <li class="sidebar-list">
      <a href="javascript:void(0)" [routerLink]="['/users']" routerLinkActive="active" >Users</a>
    </li>
    <li class="sidebar-list">
      <a href="javascript:void(0)" [routerLink]="['/reports']" routerLinkActive="active">Reports</a>
    </li>
    <li class="sidebar-list">
      <a href="javascript:void(0)" [routerLink]="['/category']" routerLinkActive="active">Create Academic Category</a>
    </li>
    <li class="sidebar-list">
      <a href="javascript:void(0)" >Post without comments</a>
    </li>
  </ul>
</div>
