<ng-template #content >
  <div class="modal-header">
    <h4 class="modal-title text-purple" id="modal-basic-title">Edit Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="form-group">
        <div class="input-field">
          <label for=""> First Name </label>
          <input type="text" formControlName="title" formControlName="firstName" class="form-control custom-border" placeholder="Title" />
          <errors [control]="f.phone"></errors>

        </div>
        <div class="input-field">
          <label for=""> Last Name</label>
          <input type="text" formControlName="title" formControlName="lastName" class="form-control custom-border" placeholder="Title" />
          <errors [control]="f.phone"></errors>

        </div>
        <div class="input-field">
          <label for="">Select Campus  </label>
          <ng-select formControlName="campus" (onChange)="nullDegree()" [items]="campuses" bindValue="slug" bindLabel="name"></ng-select>
          <errors [control]="f.campus"></errors>

        </div>
        <div class="input-field">
          <label for="">Select Degree  </label>
          <ng-select formControlName="degree" [items]="degrees" bindValue="slug" bindLabel="name"></ng-select>
          <errors [control]="f.degree"></errors>

        </div>
        <div class="input-field">
          <label for=""> Phone</label>
          <input type="text" formControlName="phone" formControlName="phone" class="form-control custom-border" placeholder="Title" />
          <errors [control]="f.phone"></errors>

        </div>
        <div class="input-field">
          <label for=""> Bio </label>
          <textarea formControlName="bio" formControlName="bio" name="" class="form-control" placeholder="What do you want to share" id="" cols="30" rows="3" ></textarea>
          <errors [control]="f.bio"></errors>
        </div>
        <div class="input-field">
          <label for=""> Upload Image</label>
          <upload-img [control]="f.image"></upload-img>
        </div>
        <button class="btn mb-2 btn-main" [disabled]="!editForm.valid" (click)="onPost()">Post</button>
      </div>
    </form>
  </div>
</ng-template>
