<div class="col-md-12">
  <div class="card card-table mt-5 pl-3 shadow-sm">
    <h4 class="modal-title text-purple" id="modal-basic-title">Users</h4>
  </div>
</div>
<div class="col-md-12">
  <div class="search-field my-4">
    <input
      type="text"
      class="form-control shadow-sm"
      placeholder="Search by Tag"
    />
    <img src="../../../assets/images/search-solid.svg" width="30px" alt="" />
  </div>
</div>
<div class="col-md-12">
  <div *ngIf="!isLoading && result && result.docs && result.docs.length > 0" class="card card-table shadow-sm">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of result.docs" >
        <tr>
          <td>{{ user.firstName }} {{user.lastName}}</td>
          <td>{{ user.email }}</td>
          <td>
            <a href="javascript:void(0)" (click)="deleteUser(user.email)"><img src="../../../assets/images/trash-alt-solid.svg" alt=""/></a>
            <a href="javascript:void(0)" (click)="blockUser(user.email)" class="ml-3"><img src="../../../assets/images/Path 82.svg" alt=""/></a>
          </td>
      </tbody>
    </table>
    <ngb-pagination class="d-flex justify-content-end" (pageChange)="onPageChange($event)" [collectionSize]="result.totalDocs" [(page)]="page" ></ngb-pagination>

  </div>
  <no-content *ngIf="!isLoading && !result || (result && result.docs && result.docs.length == 0)"></no-content>
  <loader *ngIf="isLoading"></loader>
</div>
