<div class="card shadow-sm">
  <h4 class="modal-title text-purple" id="modal-basic-title">Users</h4>
</div>
<div class="col-md-12">
  <div class="search-field">
    <input
      type="text"
      class="form-control shadow-sm"
      placeholder="Search by Tag"
    />
    <img src="../../../assets/images/search-solid.svg" width="30px" alt="" />
  </div>
</div>
<div class="card shadow-sm">
  <div class="input-field">
    <label for="">Select Degree</label>
    <select class="selectpicker form-control custom-border">
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
    <img
      src="../../assets/images/caret-down-solid.png"
      class="select-arrow"
      alt=""
    />
  </div>
</div>
