<section>
  <div class="container">
    <div class="row py-3">
      <div class="col-md-3">
        <div class="community">
          <h5 class="text-purple">Create community</h5>
          <a href="javascript:void(0)" (click)="communityCreate.open()"
            ><i class="fa main-color fa-plus-circle" aria-hidden="true"></i
          ></a>
        </div>
        <div class="py-3">
          <div class="campus">
            <h5 class="text-purple">Category</h5>
            <ul class="campus-list">
              <li *ngFor="let category of categories">
                <a
                  class="mt-2"
                  href="javascript:void(0)"
                  [routerLink]="['/category', category.slug]"
                  >{{ category.name }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="community">
          <h5 class="text-purple">Sports</h5>
        </div>

        <div class="search-field mb-4">
          <input
            type="text"
            class="form-control shadow-sm"
            placeholder="Search by Tag"
          />
          <img
            src="../../../assets/images/search-solid.svg"
            width="30px"
            alt=""
          />
        </div>

        <post-list [url]="postbyComunity + slug"></post-list>
      </div>
    </div>
  </div>
</section>
<app-community-create #communityCreate></app-community-create>
