<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="profile-banner"></div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="profile-img">
            <img src="../../../assets/images/20487.png" alt="" />
            <p class="text-purple my-3">{{user.bio ? user.bio : '-' }}</p>
          </div>
          <div class="profile-detail">
            <p>{{user.degree.name}} at {{user.campus.name}}</p>
            <a href="javascript:void(0)"><img src="../../../assets/images/instagram-brands.svg" width="20px" alt="" /> +12345678</a>
            <a #email href="javascript:void(0)"><img src="../../../assets/images/phone-square-alt-solid.svg" width="20px" alt="" />{{user.email}}</a>
            <a href="javascript:void(0)" (click)="edit.open()"><img src="../../../assets/images/pen-solid.svg" width="20px" alt="" />Edit personal information</a>
            <a href="javascript:void(0)"><img src="../../../assets/images/pen-solid.svg" width="20px" alt="" />Change password</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-4">
          <li [ngbNavItem]="1">
            <a ngbNavLink> Saved Posts</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-12">
                  <div class="card shadow-sm main-profile-card">
                    <div class="client-card shadow-sm">
                      <div class="client-header">
                        <div>
                          <h6 class="main-color mb-0">Running every day</h6>
                        </div>

                        <div ngbDropdown class="d-inline-block">
                          <button
                            class="btn"
                            id="dropdownBasic1"
                            ngbDropdownToggle
                          >
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>
                              Something else is here
                            </button>
                          </div>
                        </div>
                      </div>
                      <p class="my-4">Any group of people to go running ?</p>
                      <div class="client-footer">
                        <div>
                          <span class="text-purple">running, outdoors</span>
                        </div>
                        <div>
                          <ul>
                            <li>
                              <a href="">
                                <i class="fas icons-color fa-heart"></i> 2
                              </a>
                            </li>
                            <li>
                              <a href=""
                                ><i class="fas icons-color fa-comments"></i>
                                23</a
                              >
                            </li>
                            <li>
                              <a href=""
                                ><i class="fas icons-color fa-bookmark"></i
                              ></a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fas icons-color fa-share"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="client-card shadow-sm">
                      <div class="client-header">
                        <div>
                          <h6 class="main-color mb-0">Running every day</h6>
                        </div>

                        <div ngbDropdown class="d-inline-block">
                          <button
                            class="btn"
                            id="dropdownBasic1"
                            ngbDropdownToggle
                          >
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>
                              Something else is here
                            </button>
                          </div>
                        </div>
                      </div>
                      <p class="my-4">Any group of people to go running ?</p>
                      <div class="client-post">
                        <img
                          src="../../../assets/images/20487.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                      <div class="client-footer">
                        <div>
                          <span class="text-purple">running, outdoors</span>
                        </div>
                        <div>
                          <ul>
                            <li>
                              <a href="">
                                <i class="fas icons-color fa-heart"></i> 2
                              </a>
                            </li>
                            <li>
                              <a href=""
                                ><i class="fas icons-color fa-comments"></i>
                                23</a
                              >
                            </li>
                            <li>
                              <a href=""
                                ><i class="fas icons-color fa-bookmark"></i
                              ></a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fas icons-color fa-share"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink> Communities</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-12">
                 <app-community-list [url]="communityUrl" ></app-community-list>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink> My Posts</a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-md-12">
                  <div class="card shadow-sm main-profile-card">
                    <div class="client-card shadow-sm">
                      <div class="client-header">
                        <div>
                          <h6 class="main-color mb-0">Running every day</h6>
                        </div>

                        <div ngbDropdown class="d-inline-block">
                          <button
                            class="btn"
                            id="dropdownBasic1"
                            ngbDropdownToggle
                          >
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>
                              Something else is here
                            </button>
                          </div>
                        </div>
                      </div>
                      <p class="my-4">Any group of people to go running ?</p>
                      <div class="client-footer">
                        <div>
                          <span class="text-purple">running, outdoors</span>
                        </div>
                        <div>
                          <ul>
                            <li>
                              <a href="">
                                <i class="fas icons-color fa-heart"></i> 2
                              </a>
                            </li>
                            <li>
                              <a href=""
                                ><i class="fas icons-color fa-comments"></i>
                                23</a
                              >
                            </li>
                            <li>
                              <a href=""
                                ><i class="fas icons-color fa-bookmark"></i
                              ></a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fas icons-color fa-share"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="client-card shadow-sm">
                      <div class="client-header">
                        <div>
                          <h6 class="main-color mb-0">Running every day</h6>
                        </div>

                        <div ngbDropdown class="d-inline-block">
                          <button
                            class="btn"
                            id="dropdownBasic1"
                            ngbDropdownToggle
                          >
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>
                              Something else is here
                            </button>
                          </div>
                        </div>
                      </div>
                      <p class="my-4">Any group of people to go running ?</p>
                      <div class="client-post">
                        <img
                          src="../../../assets/images/20487.png"
                          class="img-fluid"
                          alt=""
                        />
                      </div>
                      <div class="client-footer">
                        <div>
                          <span class="text-purple">running, outdoors</span>
                        </div>
                        <div>
                          <ul>
                            <li>
                              <a href="">
                                <i class="fas icons-color fa-heart"></i> 2
                              </a>
                            </li>
                            <li>
                              <a href=""
                                ><i class="fas icons-color fa-comments"></i>
                                23</a
                              >
                            </li>
                            <li>
                              <a href=""
                                ><i class="fas icons-color fa-bookmark"></i
                              ></a>
                            </li>
                            <li>
                              <a href="">
                                <i class="fas icons-color fa-share"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          

        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</section>
<app-edit-profile #edit></app-edit-profile>
